.upload-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 312px;
  height: 75px;
  border: 1px solid var(--primary-light);
  border-radius: 5px;
  padding: 26px;
  margin-bottom: 20px;
}
.status {
  border: 1px solid;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  svg {
    font-size: 10px;
    color: #ffffff;
  }
}
.active {
  background-color: #84CB79;
  border: 1px solid #84CB79;
}