#login-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  max-width: 500px;
}
label {
  width: 100%;
  max-width: 100%;
}
input {
  width: 100%;
  margin-top: 9px;
  margin-bottom: 20px;
}
button {
  margin-top: 40px;
}
.login-alert {
  display: block;
  height: 50px;
  max-width: 100%;
}
.show-alert {
  max-width: 100%;
}
.switch-to-login {
  margin: 10px 0;
  border: none;
  background: inherit;
  color: var(--text-primary);
}