form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.max-width {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 30px;
  align-items: center;
}
label {
  width: 100%;
  max-width: 100%;
}
input {
  width: 100%;
  margin-top: 9px;
  margin-bottom: 20px;
}
button {
  margin-top: 40px;
}
.login-alert {
  height: 30px;
  max-width: 100%;
  margin-bottom: 40px;
}
.show-alert {
  max-width: 100%;
}
.switch-to-login {
  margin: 10px 0 90px;
  border: none;
  background: inherit;
  color: var(--text-primary);
}