#upload-passport {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  max-width: 500px;

  form {
    align-items: flex-start;

    label {
      margin: 20px 0;
    }

  }
  input {
    width: 100%;
  }
  .upload-btn {
    margin-top: 70px;
    width: 100%;
  }
}

