.news-article {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  color: black;

  figure {
    // width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    
    img {
      object-fit: cover;
      align-self: flex-start;
      display: block;
      margin: 0 auto;
      width: 100px;
      height: 100px;
    }
  }
}
.news-text {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;

  h4 {

  }

}