#client-data-page{
  width: 100vw;
  min-height: 100vh;
  padding: 0 20px;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0; left: 0;

  .header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 0;
  }
  .logo {
    margin-bottom: 40px;
  }

  h2 {
    color: var(--primary-main);
    margin-bottom: 20px;
  }
  .page-wrapper {
    display: grid;
    width: 100%;
    place-items: center;
    margin: 0 20px;
    margin-bottom: 60px;
    padding: 0 10px;
    padding-top: 40px;
    text-align: center;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
  }
  .user-info {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0 10px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
  }
  .table-label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    width: 100%;
  }
  .table-value {
    background: #F9F9F9;
    padding: 10px 0;
    padding-left: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

}
