#latest-news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  
  h3 {
    margin-bottom: 10px;
  }
}
.news-location {
  display: flex;
  margin-bottom: 10px;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #E0E0E0;
}