
#home-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  min-height: 100vh;
  overflow: scroll;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  .logo {
    color: var(--primary-main);
    font-size: 36px;
  }
  .login-btn {
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    background-color: #ffffff;
    color: var(--primary-main);
    border: 1px solid var(--primary-main);
    border-radius: 20px;
    min-width: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 7px 16px;
    
    &:visited {
      color: #ffffff;
    }
  }
}

.home-intro{
  text-align: center;

  h2 {
    color: var(--primary-main);
    padding: 0 30px;
    padding-bottom: 20px;
  }
  p {
    padding: 0 30px;
    color: var(--dark-gray);
  }
  figure {
    max-width: 100%;
    img {
      max-width: 100%;
    }
  }
}
.menu-btn {
  min-width: 0;
  height: 100%;
  background-color: transparent;
  color: var(--light-gray);
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  svg {
    font-size: 30px;
  }
}
.home-btn{
  margin-bottom: 100px;
}



// Side navigation
.slide-left{
  left: -70vw;
  top: 0;
  transition: 0.2s ease-in-out;
}
.normal-position{
  top: 0;
  left: 0;
  transition: 0.2s ease-in-out;
}
.sidenav {
  height: 100vh;
  max-height: 100vh;
  width: 70vw;
  max-width: 350px;
  position: fixed;
  top: 0;
  right: -100%;
  padding: 20px;
  margin: 0;
  background-color: var(--primary-light);
  z-index: 500;
  transition: 0.2s ease-in-out;
  border: 1px solid;
  display: block;
  overflow: scroll;
}
.show-sidenav {
  top: 0;
  right: 0;
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  transition: 0.2s ease-in-out;
}
.sidenav-header {
  position: relative;
  display: grid;
  place-items: center;
  align-items: center;
  color: #ffffff;
  padding: 40px 20px;

  h1 {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
  }
}
.nav-user-info {
  color: #fff;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  p {
    line-height: 1.8;
  }
  .username {
    margin-left: 5px;
    font-weight: 800;
    text-transform: capitalize;
  }
}
.sidenav-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
}
.nav-link {
  color: #ffffff;
  min-width: 0;
  padding: 5px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  svg {
    margin-right: 20px;
    color: #fff;
  }
  p {
    color: #fff;
  }
}