#qrcode {
  .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 0;
  }
  .link {
    position: absolute;
    left: 30px;
  }
  .icon-btn{
    min-width: 0;
    width: 100%;
    height: 100%;
    background: none;
    svg{
      font-size: 32px;
      color: #000;
    }
  }
  h2 {
    
    margin-bottom: 10px;
  }
  .page-wrapper {
    display: grid;
    place-items: center;
    margin-top: 108px;
    padding: 0 20px;
    text-align: center;
  }

}
.qr-image {
  width: 100%;
  margin: 20px 0;
  display: grid;
  place-items: center;

  figure {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.user-info {
  width: 100%;
  margin-top: 20px;
  padding: 0 50px;
  text-align: left;
  border-spacing: 0 15px;
}
.table-label {
  font-weight: 600;
  width: 30%;
}
.table-value {
  background: #F9F9F9;
  padding: 10px 0;
  padding-left: 15px;
  border-radius: 5px;
}