#qrcode {

  .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 0;
  }
  .link {
    position: absolute;
    left: 30px;
  }
  .icon-btn{
    min-width: 0;
    width: 100%;
    height: 100%;
    background: none;
    svg{
      font-size: 32px;
      color: #000;
    }
  }
  h2 {
    color: var(--primary-main);
    margin-bottom: 20px;
  }
  .page-wrapper {
    display: grid;
    place-items: center;
    margin: 0 20px;
    margin-top: 100px;
    padding: 0 10px;
    padding-top: 40px;
    text-align: center;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
  }

}
.qr-image {
  width: 100%;
  margin: 10px 0 20px;
  display: grid;
  place-items: center;

  figure {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.user-info {
  width: 100%;
  margin-top: 20px;
  padding: 0 10px;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
}
.table-label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  width: 30%;
}
.table-value {
  background: #F9F9F9;
  padding: 10px 0;
  padding-left: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}