#pending-page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 30px;
  margin-bottom: 50px;
  img {
    width: 100%;
    height: auto;
  }
  h3 {
    color: var(--primary-main);
    margin-top: 30px;
    margin-bottom: 30px;
  }
  p {
    text-align: center;
  }
  button {
    margin-top: 30px;
  }
}