@import './theme.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans';
  text-decoration: none;
}
body {
  background-color: var(--background-paper);
  display: grid;
  place-items: center;
}
main {
  position: realtive;
  width: 100%;
}
h1, .h1{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 300;
  font-size: 6rem;
  line-height: 1.167;
  letter-spacing: -0.01562em;
  color: var(--text-primary);
}
h2, .h2{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 300;
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: -0.00833em;
  color: var(--text-primary);
}
h3, .h3{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.167;
  letter-spacing: 0em;
  color: var(--text-primary);
}
h4, .h4{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  color: var(--text-primary);
}
h5, .h5{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
  color: var(--text-primary);
}
h6, .h6{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  color: var(--text-primary);
}
.subtitle1{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.00938em;
  color: var(--text-primary);
}
.subtitle2{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.57;
  letter-spacing: 0.00714em;
  color: var(--text-primary);
}
.body1{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: var(--text-primary);
}
.body2{
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: var(--text-primary);
}
button {
  font-family: 'Open Sans', 'Helvetica', 'Arial' sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  background-color: var(--primary-main);
  color: #ffffff;
  border: transparent;
  border-radius: 10px;
  width: 203px;
  height: 60px;
  padding: 6px 0px;
}
.display-none {
  display: none;
}