@import './theme.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  text-decoration: none;
}
body {
  background-color: var(--background-default);
  width: 100vw;
  display: grid;
  place-items: center;
}
main {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
}
h1, .h1{
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.01em;
  color: var(--text-primary);
}
h2, .h2{
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
h3, .h3{
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
h4, .h4{
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  letter-spacing: 0.01em;

  color: #000000;
}
.body1{
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
button, .button {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  background-color: var(--primary-main);
  color: #ffffff;
  border: transparent;
  border-radius: 10px;
  width: 203px;
  height: 60px;
  padding: 0;

  &:visited {
    color: #ffffff;
  }
}
.button-2{
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  background-color: #ffffff;
  color: var(--primary-main);
  border: 1px solid var(--primary-main);
  border-radius: 10px;
  width: 203px;
  height: 60px;
  padding: 6px 0px;
  &:visited {
    color: #ffffff;
  }
}
label {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
input {
  background: #F9F9F9;
  color: var(--dark-gray);
  border: transparent;
  border-radius: 5px;
  padding: 12px 16px;
}
a {
  text-decoration: none;
  &:visited {
    color: var(--text-primary);
  }
}
.display-none {
  display: none;
}