:root {
  // Text colors
  --text-primary: rgba(0, 0, 0, 0.87);
  --text-primary-hover: #e0e0e0;
  --text-secondary: rgba(0, 0, 0, 0.54);
  --text-secondary-hover: #f5f5f5;
  
  // Theme colors
  --primary-light: #7986cb;
  --primary-main: #1A3E88, 100%;
  --primary-dark: #7986cb;
  --primary-text: #fff;
  
  --secondary-light: #7986cb;
  --secondary-main: #7986cb;
  --secondary-dark: #7986cb;
  --secondary-text: #fff;
  
  --accent1-light: #677c5d;
  --accent1-main: #608051;
  --accent1-dark: #39522e;
  --accent1-text: #fff;
  
  --accent2-light: #7986cb;
  --accent2-main: #7986cb;
  --accent2-dark: #7986cb;
  --accent2-text: #fff;
  
  // Error and Pass for Validation Messages
  --error-light: #e57373;
  --error-main: #f44336;
  --error-dark: #d32f2f;
  --error-text: #fff;
  
  --success-light: #81c784;
  --success-main: #4caf50;
  --success-dark: #388e3c;
  --success-text: rgba(0, 0, 0, 0.87);
  
  // Shades of gray
  --gray50: #fafafa;
  --gray100: #f5f5f5;
  --gray200: #eeeeee;
  --gray300: #e0e0e0;
  --gray400: #bdbdbd;
  --gray500: #9e9e9e;
  --gray600: #757575;
  --gray700: #616161;
  --gray800: #424242;
  --gray900: #212121;
  --grayA100: #d5d5d5;
  --grayA200: #aaaaaa;
  --grayA400: #303030;
  --grayA700: #616161;
  
  --divider: rgba(0, 0, 0, 0.12);
  
  --background-paper: #ffffff;
  --background-default: #fffefa;
  --background-gray: #eeeade;
  
  --button-background: inherit;
  --button-color: #fcfcfc;
  --button-hover: #505050;
  --button-hover-color: #fcfcfc;
  
  --text-link-underline-color: rgba(255, 123, 123, 0.18);
  
  --url-link-color: #757575;
  --url-link-hover: #212121;
  
  // Transitions
  --transition-fast1: all 0.1s ease-in-out;
  --transition-fast2: all 0.3s ease-in-out;
  --transition-slow: all 0.7s ease-in-out;
  
  // Font Weights
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  
  // Shadow Types
  --shadow-light: 5px 5px 15px 5px #ebebebd4;
  --shadow-dark: 5px 5px 15px 5px #545454d4;
}