.progress-container{
  border: 1px solid;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 0 30px;
  margin: 50px 0;
}

.checkpoints {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
} 
.checkpoint {
  text-align: center;
}


.progress {
	background-color: #d8d8d8;
	position: relative;
	height: 8px;
	width: 315px;
}

.progress-done {
  background: var(--primary-main);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
