.progress-container{
  width: 100%;
  display: grid;
  place-items: center;
  padding: 0 30px;
  margin-top: 50px;
  position: relative;
}

.checkpoints {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  z-index: 500;
} 
.checkpoint {
  text-align: center;
  display: grid;
  place-items: center;

  .checkpoint-label {
    text-transform: uppercase;
    color: var(--primary-main);
    font-weight: 600;
    margin-bottom: 10px;
  }
  .checkpoint-value {
    content: "";
    border: 2px solid var(--primary-main);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;

    svg {
      color: #fff;
      font-size: 20px;
    }

  }
}


.progress {
	background-color: #d8d8d8;
	position: absolute;
  top: 50%;
	height: 8px;
  width: 100%;
  max-width: 285px;
}

.progress-done {
  background: var(--primary-main);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
